<h1>About Us</h1>

<!-- <a href="/demo/hello">Hello page 1</a> <br> -->
 <br>
<%= link_to("Index", {:action => 'index'}) %> <br>
<%= link_to("Hello", {:action => 'hello'}) %> <br>
<%= link_to("About", {:action => 'about'}) %> <br>
<%= link_to("Contact", {:action => 'contact',
                        :country => 'us'}) %>