<h1>Hello page</h1><br>
<%= link_to("Index", {:action => 'index'}) %> <br>
<%= link_to("Hello", {:action => 'hello'}) %> <br>
<%= link_to("About", {:action => 'about'}) %> <br>
<%= link_to("Contact", {:action => 'contact'}) %>